header.header
  h1
    a(href='..') Hearthstone Deck Builder
    |  / 
    | {{className | capitalize}}
  p
    input#builder-class-filter(type='radio', ng-model='search.playerClass', value='{{className}}')
    label(for='builder-class-filter') {{className | capitalize}}
    input#builder-neutral-filter(type='radio', ng-model='search.playerClass', value='neutral')
    label(for='builder-neutral-filter') Neutral
  p 
    //-input#builder-hero-filter-all(type='radio', ng-model='search.hero', value='')
    //-label(for='builder-hero-filter-all') All
    span {{dustCost}} Dust
    span {{count}} / 30 Cards
    input#builder-arena-control(type='checkbox', ng-model='arenaDeck')
    label(for='builder-arena-control') Arena Deck
    input.search(type='text', placeholder='Search', ng-model='search.$')
div.content.builder
  section(ng-controller='CardsCtrl', class='cards gradient-{{arena.choice.cards[0].rarity}}')
    ul
      li(ng-repeat='card in cards | filter:cardAllowed(search.playerClass) | orderBy:["cost", "name"]', ng-class='{ unavailable: !arenaDeck && unavailable[{{card.dbfId}}] }', ng-click='pick(card)')
        img(height='298', width='200', ng-src='https://art.hearthstonejson.com/v1/render/latest/enUS/256x/{{card.id}}.png')
  section.deck(ng-controller='DeckCtrl')
    section.suggestions
      p
        | Suggestions
      ul
      li(ng-repeat='card in suggestions | orderBy:["card.cost", "card.name"]', ng-class='card.rarity', card-list-item, card='card', count='1')
    p
      | Deck
    ul
      li(ng-repeat='entry in deck | orderBy:["card.cost", "card.name"]', ng-class='entry.card.rarity', ng-click='remove(entry.card)', card-list-item, card='entry.card', count='entry.count')
    figure.mana-curve
      div(ng-repeat='mana in curve track by $index')
        div.bar(style='height: {{mana * scale}}%;')
footer.footer
  h1
    | Original frontend design courtesy of 
    a(href='http://matthiasklein.me') Matthias Klein
